* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    margin: 1% 5%;
    background-color: #f9f9fa;
    font-size: 18px;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 14px;
    padding: 27px;
    background: #fff;
}
h1{
    text-align: center;
}

img{
    width: 40%;
    height: 30%;
}
.card{
    padding: 1rem 1rem 1rem 2.5rem
}
.card-body {
    height: 250px;
    display: flex;
    padding: 1rem 1rem;
}

.first{
    width: 60%;
    margin: auto;
}
.second{
    width: 30%;
    height: 80%;
    margin: auto;
    float: right;
}
h2{
    text-align: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
